@CHARSET "ISO-8859-1";

body, html, #wrapper{
  height: 100%;
  width: 100%;
}
.welcomeToBeta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.top_nav_background{
  background-color: #FF0;
}

#wrapper{
  position: absolute;
}

#login, #forgotPassword, #forgotSent, #newUser{
  margin-top: 150px;
  width: 90%;
}

#login .portlet, #forgotPassword .portlet, #forgotSent .portlet, #newUser .portlet{
  margin-bottom: 0px;
}

#forgot_password{
  cursor: pointer;
}
.betaScroll {
  height: 50vh;
  overflow: auto;
}

.full_page{
  margin: 0px !important;
  z-index: 1;
}

.nav_position_holder{
	position: fixed;
	top: 0px;
	right: 0px;
}

.nav_position_holder_allow_click_events{
  z-index: 1001;
}

.home_left_nav_element{
  text-align: right;
  font-family: 'rbn02alt', sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-right: 25px;
  cursor: pointer;
  font-weight: bold;
}

.home_left_nav_element:hover{
  color: #D51F27;
}

.home_bottom_nav_element{
  text-align: right;
  font-family: 'rbn02alt', sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-right: 25px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 150px;
}

.nav-sidebar-home-mobile{
  background-color: #000;
}

.home_left_nav_element_mobile{
  text-align: center;
  font-family: 'rbn02alt', sans-serif;
  color: #FFF;
  text-transform: uppercase;
  padding: 5px 0px;
  border-top: thin solid #FFF;
  font-size: 2em;
}

.home_left_nav_logo_holder{
  display: none;
}

.home_logo{
  width: 100%;
}

.home_text_right{
  font-family: 'rbn02alt', sans-serif;
  margin-top: 150px;
  color: #D51F27;
  text-transform: uppercase;
  text-align: right;
  font-size: 4em;
}

.home_intro_button_smaller_text{
  font-size: .6em !important;
}


.home_page_upper_right_button:hover{
  color: #CCC !important;
}

.home_open_button{
  background-color: #D72027;
  border: thin solid #D72027;
}

.home_post_button{
  background-color: #FFF;
  color: #D72027;
  border: thin solid #D72027;
}


.nav-sidebar-home{
  display: none;
}

.match_text_background{
  padding: 20px;
}

.home_content_background{
  background-color: rgba(255,255,255,.15);
}

.content_section{
  padding: 20px;
}

.home_text_background{
  padding: 20px;
  background-color: rgba(255,255,255,.95);
  border-radius: 20px;
}

.login_text_top_margin{
  margin-top: 150px;
}

.home_text_content{
  font-family: 'rbn02alt', sans-serif;
  margin-top: 100px;
  color: #111;
  text-align: left;
  font-size: 2em;
}

.home_text_content h3{
  color: #D51F27;
  text-transform: uppercase;
  font-size: 1.3em;
}

.clear{
  padding: 10px 0px;
}

.modal-flex{
	border-radius: 10px;
}

.modal-flex .modal-header {
    background-color: #000 !important;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-flex .modal-footer {
    background-color: #333 !important;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

@media(max-width:350px) {
  .home_text_right{
    margin-top: 125px;
    font-size: 2em;
  }
  
  .home_page_upper_right_button{
    font-size: 1em;
  }
}

@media(max-width:767px) {
  .nav_position_holder{
	position: fixed !important;
  top: 5%;
  }
  
  .mobile_menu_item{
	padding: 10px;
  	text-align: center;
  	background-color: #333;
  	color: #FFF;
  	text-transform: uppercase;
  	cursor: pointer;
  	border-bottom: thin solid #FFF;
  }
  
  .home_text_content{
	margin-top: 30px;
  }
}

@media(min-width:768px) {
  .mobile_menu{
	display: none;
  }
  
  .full_page, .nav-sidebar-home, .home-main-content {
    height: 100%;
  }
  
  .nav-sidebar-home{
	position: fixed;
  	left: 0;
  	top: 0;
  }
  
  .nav-sidebar-home-mobile{
    display: none;
  }
  
  .nav-sidebar-home{
    background-color: rgba(19,19,21,1);
    display: inline-block;
    z-index: 1000;
  }
  
  .home_left_nav_float{
    height: 50%;
    margin-bottom: -420px;
  }
  
  .home_left_nav{
    height: 840px;
  }
  
  .home_left_nav_element{
    height: 120px;
    line-height: 120px;
    font-size: 2em;
  }
  
  .home_left_nav_logo_holder{
    display: inline-block;
    float: right;
    width: 80%;
  }
  
  #login, #forgotPassword, #forgotSent, #newUser{
    width: 450px;
    display: none;
  }
}

@media(min-width:1000px){
  .home_text_right{
    font-size: 5em;
  }
}

@media(max-width:1450px){
  .home_left_nav_element{
    font-size: 1.5em;
  }
}

@media(max-width:767px){
  .home_open_button{
    margin-left: 0px;
  }
  
  .home_login_button{
    margin-left: 0px;
  }
  
  .match_text_background{
    padding: 0px;
  }
}

@media(max-height:750px) {  
  .home_left_nav_element{
    height: 90px;
    line-height: 90px;
  }
  
  .home_left_nav_float{
    height: 50%;
    margin-bottom: -315px;
  }
  
  .home_left_nav{
    height: 630px;
  }
  
  .home_text_right{
    margin-top: 200px;
    font-size: 4em;
  }
}

@media(max-height:550px) {
  #wrapper{
    height: 550px;  
  }
  
  .home_left_nav_element{
    height: 60px;
    line-height: 60px;
  }
  
  .home_left_nav_element{
    font-size: 1.5em;
  }
  
  .home_left_nav_float{
    height: 50%;
    margin-bottom: -210px;
  }
  
  .home_left_nav{
    height: 420px;
  }
  
  .home_text_right{
    margin-top: 175px;
    font-size: 3em;
  }
}
input[name="confirm_legal"] { 
  vertical-align: middle;
}



/* New Home Page */
#headerSection {
  background-image: url("../../../images/login/wagerWallController.jpg ");
  background-size: cover;
  height: 100vh;
  background-position: center;
}
#homePageHeader {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.flexContainer {
  width: 50%;
  padding: 35px;
}
.btnContainer {
  text-align: right;
}
.logoContainer {
  width: 10em;
  display: inline-block;
  vertical-align: middle;
}
.headerBtn {
  display: inline-block;
  width: 10em;
  vertical-align: middle;
  margin: 0px 6px;
}
.home_page_upper_right_button{
  width: 100%;
  text-align: center;
  font-family: 'rbn02alt', sans-serif;
  padding: 5px 0px;
  color: #FFF;
  border-radius: 10px;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
}
.home_login_button{
  background-color: transparent;
  border: 1px solid #d72027;
}
.home_signup_button {
  background-color: #d72027;
  border: 1px solid #d72027;
}
.welcomeMsg {
  position: absolute;
  top: 50%;
  left: 35px;
}
.welcomeMsg > h1 {
  margin-top: -15px;
  font-size: 46px;
}
.welcomeMsg > h3 {
  color: white;
  opacity: .7;
}
#landingPageWager {
  background-color: #d72027;
  border: 1px solid #d72027;
  text-align: center;
  font-family: 'rbn02alt', sans-serif;
  padding: 5px 0px;
  color: #FFF;
  border-radius: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  width: 223px;
  height: 55px;
  line-height: 50px;
  margin-top: 25px;
}
@media(max-width:768px) {
  .flexContainer {
    padding: 15px 35px;
  }
  .home_signup_button {
    display: none;
  }
  .welcomeMsg {
    text-align: center;
  }
  .welcomeMsg > h1 {
    font-size: 36px;
  }
  .welcomeMsg > h3 {
    display: none;
  }
  #landingPageWager {
    margin: 50px auto;
  }
}

#howItWorksSection {
  background-color: rgb(44, 44, 44);
  -webkit-box-shadow: 0px 4px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 28px 0px rgba(0,0,0,0.75);
  padding: 50px;
  width: 100%;
  text-align: center;
  position: relative;
}
.sectionTitle {
  margin-bottom: 15px;
}
.stepsFlexContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.individualStep {
  text-align: center;
  width: 30%;
  color: white;
}
.stepTitle {
  font-size: 1.2em;
  font-weight: 300;
}
.textGreen {
  color: #5db85c;
}
.iconHolder {
  width: 5em;
  height: 5em;
  margin: auto;
}
.stepIcon {
  width: 100%;
}
.nextArrowStep {
  color: #d72027;
  vertical-align: middle;
  width: 5em;
}
.howitworksAnimation {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200px, 0px);
}
.inView {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
@media(max-width:768px) {
  .stepsFlexContainer {
    display: flex;
    flex-direction: column;
  }
  .individualStep {
    width: 90%;
    margin-top: 25px;
  }
  .nextArrowStep {
    display: none;
  }
}

.webappscreenAnimation {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(-200px, 0px, 0px);
  -webkit-transform: translate3d(-200px, 0px, 0px);
  transform: translate3d(-200px, 0px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
}
.companybriefAnimation {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(200px, 0px, 0px);
  -webkit-transform: translate3d(200px, 0px, 0px);
  transform: translate3d(200px, 0px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
}
.laptopView {
  opacity: 1;
   -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.briefView {
  opacity: 1;
   -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
#whoWeAreSection {
  padding: 50px;
  width: 100%;
  text-align: center;
  background: #FFF;
  z-index: 12;
}
.textRed {
  color: #d72027;
}
#whoWeAreSection > div {
  display: inline-block;
  width: 49%;
  text-align: left;
  vertical-align: middle;
}
.wagerWallCompanyBrief {
  letter-spacing: 1px;
  line-height: 2;
  color: rgb(22, 22, 22);
}
.rectangleUnderline {
  width: 173px;
  height: 2px;
  margin: 15px auto;
}
.blackLine {
  background-color: rgb(22, 22, 22);
}
.redLine {
  background-color: #d72027;
}
@media(max-width:768px) {
  #whoWeAreSection > div {
    display: block;
    width: 90%;
    margin: auto;
  } 
}

#gamesSection {
  padding: 50px;
  width: 100%;
  text-align: center;
  background-color: rgb(44, 44, 44);
  -webkit-box-shadow: 0px 4px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 28px 0px rgba(0,0,0,0.75);
  position: relative;
}
.gameTitle {
  position: absolute;
  right: 5%;
  bottom: 40px;
  color: #FFF;
}
.gameScreenContainer > img {
  width: 100%;
}
.gameScreenContainer {
  display: inline-block;
  width: 20%;
  position: relative;
  margin: 0px 15px;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
}
.focusGame {
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0px 0px 7.5px 7.5px rgba(255,255,255,0.65);
  -moz-box-shadow: 0px 0px 7.5px 7.5px rgba(255,255,255,0.65);
  box-shadow: 0px 0px 7.5px 7.5px rgba(255,255,255,0.65);
}
.underlineRectangle {
    position: absolute;
    right: 5%;
    bottom: 40px;
    background: #d72027;
    height: 2px;
    width: 50px;
}
@media(max-width:768px) {
  #gamesSection > div {
    display: block;
    width: 90%;
    margin: 15px auto;
  }
}

#partnerSection {
  text-align: center;
  padding: 50px;
  width: 100%;
  background: #FFF; 
}
.partner {
  width: 45%;
  vertical-align: middle;
  display: inline-block;
}
#createAccountBtn {
  border-radius: 10px;
  background-color:  #d72027;
  border: 1px solid #d72027;
  padding: 15px 30px;
  color: rgb(254, 254, 254);
  font-size: 1.5em;
}
@media(max-width:768px) {
  .partner {
    width: 90%;
    margin: -15px auto;
    display: block;
  }
}

#homePageFooter {
  text-align: center;
  padding: 15px;
  background-color: rgb(44, 44, 44);
  width: 100%;
}
.copyrightPhrase {
  text-align: left;
  width: 70%;
}
.copyrightPhrase > p {
  max-width: 75ch;
  line-height: 1.5;
}
.individualFooterSection {
  display: inline-block;
  font-size: .65em;
  color: rgb(254,254,254);
  vertical-align: middle;
}
.mediaFooterSection {
  width: 25%;
}
.mediaFooterSection > p > span:hover {
  cursor: pointer;
}

.socialMediaChannel {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin: 0px 7px;
}
.socialMediaIcon {
  width: 100%;
}
.socialMediaIcon:hover {
  cursor: pointer;
}
.footerSeparator {
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  width: 195px;
  height: 1px;
  margin: 15px auto;
}
.footerSeparator > span:hover {
  cursor: pointer;
}
@media(max-width:768px) {
  #homePageFooter {
    display: flex;
    flex-flow: column;
    margin: auto;
  }
  .mediaFooterSection {
    width: 100%;
    order: 1;
  }
  .copyrightPhrase {
    width: 100%;
    order: 2;
  }
}








