.DS_Store
.buildpath
.idea
.settings
.zfproject.xml
.project
composer.lock
*dwsync.xml
/build/api
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/vendor
cache.properties
log
nbproject
public/media


.elasticbeanstalk/
*.pem
wagerwall.*
keen