
.top_stats_cont {
}
.top_stats_out {

}
.top_stats_head_line {
	height: 1px;
	width: 100px;
	background: #DEDEDE;
	margin: 0 5px;
}

.top_stats_sep_horizon {
	height: 15px;
}
.top_stats_sep {
	width: 135px;
}
.top_stats_sep_middle {
	width: 95px;
}


.ts_grph_img {
	margin: 0px;
	display: block;
}
.ts_bg_num, .ts_bg_num_zero
{
	font-weight: 700;
	font-size: 49px;
	font-family: Verdana, sans-serif;
	display: block;
	line-height: 51px;
	color: #434A4B;
}
.ts_bg_num_zero {
	color: #636A6B;
}
.ts_sm_txt {
	padding: 1px 0px 0px 1px;
	font-size: 14px;
	color: #A1A2A4;
	font-family: Verdana, Helvetica;
	font-weight: 600;
	text-align: center;
}
.ts_sm_txt_total {
	color: #779F32;
}
.ts_sm_txt_joined {
	color: #22C0DB;
}
.ts_sm_txt_unsubscribed {
	color: #FE4445;
}

.graph_head {
	background: #FBFBFB;
	background: -moz-linear-gradient(top,#FBFBFB,whiteSmoke);
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F3F3F3));
	position: relative;
	padding: 10px;
}

.graph_out {
}

#adi_graph_out {
	background: url(darkdenim3.png);
	margin-bottom: 10px;
	position: relative;
}
.adi_graph_legend_out, .adi_graph_legend_in {
	position: absolute;
	width:100%;
	height: 50px;
}
.adi_graph_legend_in {
	position: relative;
}
.adi_legend_cont {
	width: 547px;
}
.legend_nums_out {
	float: left;
	width: 180px;
	margin-top: 51px;
}


.legend_num {
	font-size: 22px;
	font-family: Verdana, sans-serif;
	font-weight: 600;
	display: block;
	line-height: 22px;
	color: #989898;
}
#adi_graph_overlay {
	padding: 124px 17px 30px 30px;
	background: url(graph_overlay_1024.png);
}

#adi_graph_overlay_visitors {
	padding: 124px 17px 30px 30px;
	background: url(graph_overlay_visitors_1024.png);
}

#adi_graph {
	height:300px;
}
.adi_graph_tt {
	position: absolute;
	display: none;
	background: #FBFBFB;
	background: -moz-linear-gradient(top,#FBFBFB,whiteSmoke);
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F3F3F3));
	z-index: 10;
	box-shadow: 0px 0px 10px #555;
}


.graph_opt_out {
	float: left;
	margin: 11px 0px 11px 14px;
	padding: 4px 7px;
	cursor: pointer;
	border: 1px solid transparent;
}

.graph_opt_selected {
	border: 1px solid #68A341;
	box-shadow: 0 1px 2px 0 #A4CA6C inset;
	-webkit-box-shadow: 0 1px 2px 0 #A4CA6C inset;
	-moz-box-shadow: 0 1px 2px 0 #a4ca6c inset;
	background: #96C161;
	background: -moz-linear-gradient(top, #96C161 0%, #609C3D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96C161), color-stop(100%, #609C3D));
	background: -webkit-linear-gradient(top, #96C161 0%, #609C3D 100%);
	background: -o-linear-gradient(top, #96C161 0%, #609C3D 100%);
	background: -ms-linear-gradient(top, #96C161 0%, #609C3D 100%);
	background: linear-gradient(top, #96C161 0%, #609C3D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c161', endColorstr='#609c3d',GradientType=0 );
	color: white;
}

.graph_opt_txt {
	font-size: 14px;
}
.graph_sep {
float: left;
}


.tt_title {
	padding: 3px 10px 3px 10px;
	border: none;
	text-align: center;
	background: #9DC458;
	color: white;
	height: 56px;
}
.tt_title_red
{
	background: #FE4445;
}
.tt_title_blue
{
	background: #22C0DB;
}
.tt_obj {
	float: left;
	padding: 7px;
	border-right: 1px solid #CDCDCD;
	min-width: 65px;
}
.tt_val {
	text-align: center;
	font-weight: bold;
	font-size: 27px;
	margin: 14px 10px 0px 10px;
	font-family: Verdana, Helvetica;
	color: #383838;
}

.tt_total_lbl {
	color: #383838;
}
.tt_month {
	font-size:12px;
}
.tt_date {
	font-size:18px;
	font-weight:bold;
	line-height: 14px;
}
.tt_year {
	font-size:12px;
}


.tt_arrow {
	bottom: -19px;
	position: absolute;
	border: 10px solid transparent;
	display: inline-block;
	border-width: 10px;
	border-top-color: #F3F3F3;
	left: 50%;
	margin-left: -10px;
}
.tt_col {
	display: block;
	text-align: center;
	margin: 0px 10px 8px 10px;
	min-width: 70px;
}
.tt_accpeted_color {
	color: #7A2;
}
.tt_blocked_color {
	color: #f33;
}

.graph_foot {
	padding: 25px;
	background: #FAFAFA;
	background: -moz-linear-gradient(top,#FBFBFB,#F3F3F3);
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F3F3F3));
}
	
.shrt_stats_table {
}
.shrt_stats_out {
	padding: 10px;
	border: 1px solid #DEDEDE;
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F3F3F3));
}
.shrt_stats_inner {
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #CDCDCD;
	padding: 10px;
}
.bg_counter {
	text-align: center;
	font-size: 22px;
	margin: 5px 0px;
}
.bg_desc {
	text-align: center;
}
.shrt_stats_other {
	float: left;
	margin-left: 10px;
	line-height: 24px;
}


.dash_widget_out {
	margin: 10px 0;
	border: 1px solid #DEDEDE;
	max-width: 250px;
	background: #FAFAFA;
}

.dash_widget_head {
	background: #FBFBFB;
	background: -moz-linear-gradient(top,#FBFBFB,whiteSmoke);
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F3F3F3));
	border-bottom: 1px solid #DEDEDE;
	margin: 0;
	padding: 8px;
}

.dash_widget_body {
	margin: 0;
	padding: 8px 15px 15px 15px;
}

.xAxis .tickLabel {
	margin-left: 20px;
	font-size: 12px;
	font-weight: 400;
	font-family: Verdana, Helvetica;
	font-size: 11px;
	color: #757575;
	margin-top: 4px;
	text-shadow: 0 0 3px #111;
}
.yAxis .tickLabel {
	font-size: 12px;
	font-weight: 400;
	font-family: Verdana, Helvetica;
	font-size: 11px;
	color: #757575;
	text-shadow: 0 0 3px #111;
	padding-right: 5px;
}



.graph_selector_cont_out {
}
.graph_selector_cont {
	position: relative;
	margin:0px;
}
.graph_selector_label {
	font-family: Verdana, Helvetica;
	color: #585858;
	font-size: 17px;
}
.graph_selector_out {
	position: relative;
	padding-right: 4px;
}
.graph_selector_opt {
	float: right;
	margin-left: 10px;
	padding-left: 26px;
	cursor: pointer;
	color: #585858;
	font-family: Verdana, Helvetica;
	font-weight: 400;
}
.graph_selector_checked {
	background: url(images/tick_circle_hover.png) 3px 1px no-repeat;
	color: #585858;
}
.graph_selector_unchecked {
	background: url(images/tick_circle.png) 8px 3px no-repeat;
	color: #686868;
}

.graph_date_txt {
	padding: 5px 5px 5px 7px;
	border: 1px solid #DEDEDE;
	background: #FDFDFD url(images/calendar.png) 100px 3px no-repeat;
	box-shadow: inset 0 0 10px #ededed;
	color: #696969;
	cursor: pointer;
	font-family: Verdana, Helvetica;
	width: 118px;
	text-align: left;
}
.graph_date_txt:hover {
	background: #fdfdfd url(images/calendar_hover.png) 100px 3px no-repeat;
	color: #272727;
}


.wid_serial_no {
	vertical-align: top;
	width: 30px;
	font-family: Verdana;
	color: #484848;
}
.widget_out {
	padding: 15px;
	border: 1px solid #DEDEDE;
}
.widget_head {
	font-size: 15px;
	font-family: Verdana;
	margin-bottom: 10px;
	text-align: left;
	font-weight: bold;
	color: #484848;
}

.wid_col_title {
	font-size: 13px;
	color: #484848;
	font-family: Verdana;
}

.widget_sep {
	width:10px;
	height: 100px;
}

.widget_user_sep {
	height: 1px;
	border: none;
	background: #DEDEDE;
	margin: 9px 0px;
}
.widget_username_out {
	padding: 0px 5px 0px 15px;
	width: 190px;
	font-family: Verdana;
}
.widget_date_out
{
	padding: 15px 5px 15px 0px;
	width: 190px;
	font-family: Verdana, Helvetica;
	font-size: 13px;
	color: #434A4B;
	font-weight: bold;
}

.widget_username {
	color: #434A4B;
	font-weight: 700;
	font-size: 13px;
}
.widget_email {
	color: #787878;
	font-family: Verdana;
}
.widget_bg_num {
	font-weight: 700;
	font-size: 17px;
	font-family: Verdana, sans-serif;
	display: block;
	line-height: 17px;
	color: #434A4B;
	text-align: center;
}
.widget_bg_txt {
	padding: 1px 0px 0px 1px;
	font-size: 14px;
	color: #a3a5a7;
	font-family: Verdana, Helvetica;
	font-weight: 400;
	text-align: center;
}


.wid_dt_serial_no {
	vertical-align: middle;
	width: 30px;
	font-family: Verdana;
	color: #484848;
}